<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<title>MARKETFUL_RAFA</title>
	<link rel="stylesheet" type="text/css" href=".../stylesheet/application.css">
</head>
<body>

	<h1>CHAMARRA NIKE SB</h1>

<h2>Primer producto</h2>	

<div id="test">
<p> Nombre: <%= @cham_nombre %> </p>
<p>	Codigo: <%=  @cham_codigo %> </p>
<p> Precio: <%=  @cham_precio %> </p>
<p> Stock:  <%=  @cham_stock %> </p>
<p> Existencia: <%=  @cham_existencia %> </p>
<p> Tienda: <%=  @cham_tienda %> </p>
<p> Promotor: <%=  @cham_promotor %> </p>
</div>


 	<header>
 		<nav class="navegacion">
 			<ul class="menu">
 				
 				<li><a href="#">Servicios</a>

 					<ul class="submenu">
 				<li><a href="#">Servicio #1</a></li>
 				<li><a href="#">Servicio #2</a></li>
 				<li><a href="#">Servicio #3</a></li>
 						
 					</ul>

 				</li>
 				<li><a href="#">ir a</a></li>
 				<li><a href="#">Productos</a></li>
 				<li><a href="#">Mas sobre nosotros</a></li>


 			</ul>

 		</nav>

 	</header>


</body>
</html>








