<h1>CHAMARRA NIKE SB</h1>


<h2>Primer producto</h2>

<p> Nombre: <%= @cham_nombre %> </p>
<p>	Codigo: <%=  @cham_codigo %> </p>
<p> Precio: <%=  @cham_precio %> </p>
<p> Stock:  <%=  @cham_stock %> </p>
<p> Existencia: <%=  @cham_existencia %> </p>
<p> Tienda: <%=  @cham_tienda %> </p>
<p> Promotor: <%=  @cham_promotor %> </p>






