<!DOCTYPE html>
<html>
<head>
	<title>ADIDAS</title>
	<link rel="stylesheet" type="text/css" href=".../stylesheet/application.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	
</head>
<body>
<ul class="chamarra">

<a href="/inicio" class="home fas fa-home"  > Home</a>

	<center class= "tituloc"> <h1>ADIDAS</h1> </center>

	<div class="contenedor">	
		<table class="tabla">
		<tr>
			<th> No. </th>
			<th> Nombre</th>
			<th> Codigo </th>
			<th> Precio </th>
			<th> Stock </th>
			<th> Existencia </th>
			<th> Tienda </th>
			<th> Promotor </th>
			<th>Imagen</th>
			<th>Comprar</th>
		</tr>

		<tr>
			<td> 1 </td>
			<td> <%= @a1_nombre %> </td>
			<td> <%= @a1_codigo %> </td>
			<td>  <%= @a1_precio %>  </td>
			<td> <%= @a1_stock %> </td>
			<td> <%= @a1_existencia %> </td>
			<td> <%= @a1_tienda %> </td>
			<td> <%=  @a1_promotor %> </td>
			<td><img src="https://n2.sdlcdn.com/imgs/e/4/t/Adidas-Yeezy-Boost-350-V2-SDL463680862-1-b8ada.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-662234442-tenis-yeezy-boost-350-v2-beluga-caja-original-envio-gratis-_JM?quantity=1#reco_item_pos=0&reco_backend=machinalis-gauss&reco_backend_type=function&reco_client=navigation_homes&reco_id=810a5078-c08f-4480-a9a8-cc58768b68c9&c_id=/home/navigation-recommendations/element&c_element_order=1" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>

		<tr>
			<td> 2 </td>
			<td> <%= @a2_nombre %> </td>
			<td> <%= @a2_codigo %> </td>
			<td>  <%= @a2_precio %>  </td>
			<td> <%= @a2_stock %> </td>
			<td> <%= @a2_existencia %> </td>
			<td> <%= @a2_tienda %> </td>
			<td> <%=  @a2_promotor %> </td>
			<td><img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/79bb14e060d748f69025a6fe00ff84b8_9366/Pants_Lunar_Negro_AC6242_01_laydown.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-666957924-pants-lunar-adidas-negro-ac6242-_JM?quantity=1" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
	<tr>
			<td> 3 </td>
			<td> <%= @a3_nombre %> </td>
			<td> <%= @a3_codigo %> </td>
			<td>  <%= @a3_precio %>  </td>
			<td> <%= @a3_stock %> </td>
			<td> <%= @a3_existencia %> </td>
			<td> <%= @a3_tienda %> </td>
			<td> <%=  @a3_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/jersey-playera-adidas-seleccion-de-argentina-local-2018-D_NQ_NP_914675-MLM27247518833_042018-F.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-657423913-jersey-oficial-seleccion-de-argentina-local-2018-_JM?quantity=1#reco_item_pos=1&reco_backend=machinalis-seller-items&reco_backend_type=low_level&reco_client=vip-seller_items-above&reco_id=678abfa0-5475-4159-a5bc-46c05fa8bbbb" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
			
	<tr>
			<td> 4 </td>
			<td> <%= @a4_nombre %> </td>
			<td> <%= @a4_codigo %> </td>
			<td>  <%= @a4_precio %>  </td>
			<td> <%= @a4_stock %> </td>
			<td> <%= @a4_existencia %> </td>
			<td> <%= @a4_tienda %> </td>
			<td> <%=  @a4_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/D_NP_852983-MLM29623622146_032019-Q.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-669401760-tacos-adidas-de-futbol-predator-a18fg-control-skin-white-red-_JM?quantity=1" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
		
		</table>
	</div>
</ul>
</body>
</html>

