<!DOCTYPE html>
<html>
<head>
	<title>ADIDAS</title>
	<link rel="stylesheet" type="text/css" href=".../stylesheet/application.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
<ul class="chamarra">
<a href="/chamarra" class="home fas fa-home"  > Home</a>

	<center class= "tituloc"> <h1>ADIDAS</h1> </center>

		<div class="contenedor">	
		<table class="tabla2">
		<tr>
			<th> No. </th>
			<th> Nombre</th>
			<th> Codigo </th>
			<th> Precio </th>
			<th> Stock </th>
			<th> Existencia </th>
			<th> Tienda </th>
			<th> Promotor </th>
			<th>Imagen</th>
			<th>Comprar</th>
		</tr>

		<tr>
			<td> 1ยบ </td>
			<td> <%=  @proda_nombre %> </td>
			<td> <%= @proda_codigo %> </td>
			<td>  <%= @proda_precio %>  </td>
			<td> <%= @proda_stock %> </td>
			<td> <%= @proda_existencia %> </td>
			<td> <%= @proda_tienda %> </td>
			<td> <%=  @proda_promotor %> </td>
			<td><img src="https://static.highsnobiety.com/wp-content/uploads/2016/09/21113542/where-to-buy-adidas-yeezy-boost-350-v2-1-480x320.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-662234442-tenis-yeezy-boost-350-v2-beluga-caja-original-envio-gratis-_JM?quantity=1" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
		

			<tr>
			<td> 5 </td>
			<td> <%= @nsb5_nombre %> </td>
			<td> <%= @nsb5_codigo %> </td>
			<td>  <%= @nsb5_precio %>  </td>
			<td> <%= @nsb5_stock %> </td>
			<td> <%= @nsb5_existencia %> </td>
			<td> <%= @nsb5_tienda %> </td>
			<td> <%=  @nsb5_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/gorra-nike-sb-icon-snapback-hat-negra-casuales-originales-D_NQ_NP_730527-MLM26923245840_022018-F.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-615398410-gorra-nike-sb-icon-snapback-hat-negra-casuales-originales-_JM?quantity=1&variation=29653539547" target="_blank" style="color: #fff; ">Enlace</a></td>
		</tr>
</ul>
</body>
</html>