<!DOCTYPE html>
<html>
<head>
	<title>CANICA&NOGAL</title>
	<link rel="stylesheet" type="text/css" href=".../stylesheet/application.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	
</head>
<body>
<ul class="chamarra">

<a href="/inicio" class="home fas fa-home"  > Home</a>

	<center class= "tituloc"> <h1>CANICA & NOGAL</h1> </center>

	<div class="contenedor">	
		<table class="tabla">
		<tr>
			<th> No. </th>
			<th> Nombre</th>
			<th> Codigo </th>
			<th> Precio </th>
			<th> Stock </th>
			<th> Existencia </th>
			<th> Tienda </th>
			<th> Promotor </th>
			<th>Imagen</th>
			<th>Comprar</th>
		</tr>

		<tr>
			<td> 1 </td>
			<td> <%= @can1_nombre %> </td>
			<td> <%= @can1_codigo %> </td>
			<td>  <%= @can1_precio %>  </td>
			<td> <%= @can1_stock %> </td>
			<td> <%= @can1_existencia %> </td>
			<td> <%= @can1_tienda %> </td>
			<td> <%=  @can1_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/funda-canica-nogal-4-D_NQ_NP_865780-MLM26545747446_122017-F.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-606580888-funda-canica-nogal-1-_JM" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
		<tr>
			<td> 2 </td>
			<td> <%= @can2_nombre %> </td>
			<td> <%= @can2_codigo %> </td>
			<td>  <%= @can2_precio %>  </td>
			<td> <%= @can2_stock %> </td>
			<td> <%= @can2_existencia %> </td>
			<td> <%= @can2_tienda %> </td>
			<td> <%=  @can2_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/funda-canica-nogal-9-D_NQ_NP_957074-MLM26545749060_122017-F.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-606580874-funda-canica-nogal-9-_JM" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
			<td> 3 </td>
			<td> <%= @can3_nombre %> </td>
			<td> <%= @can3_codigo %> </td>
			<td>  <%= @can3_precio %>  </td>
			<td> <%= @can3_stock %> </td>
			<td> <%= @can3_existencia %> </td>
			<td> <%= @can3_tienda %> </td>
			<td> <%=  @can3_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/funda-canica-nogal-8-D_NQ_NP_803247-MLM26545749074_122017-F.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-606580875-funda-canica-nogal-8-_JM" target="_blank" style="color: #fff; ">Enlace</a></td>
		</tr>
			<tr>
			<td> 4 </td>
			<td> <%= @can4_nombre %> </td>
			<td> <%= @can4_codigo %> </td>
			<td>  <%= @can4_precio %>  </td>
			<td> <%= @can4_stock %> </td>
			<td> <%= @can4_existencia %> </td>
			<td> <%= @can4_tienda %> </td>
			<td> <%=  @can4_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/funda-canica-nogal-10-D_NQ_NP_795261-MLM26545749610_122017-F.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-606580925-funda-canica-nogal-10-_JM" target="_blank" style="color: #fff; ">Enlace</a></td>
		</tr>
		
		</table>
	</div>
</ul>
</body>
</html>

