<!DOCTYPE html>
<html>
<head>
	<title>NIKE SB</title>
	<link rel="stylesheet" type="text/css" href=".../stylesheet/application.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	
</head>
<body>
<ul class="chamarra">

<a href="/chamarra" class="home fas fa-home"  > Home</a>

	<center class= "tituloc"> <h1>NIKE SB</h1> </center>

	<div class="contenedor">	
		<table class="tabla">
		<tr>
			<th> No. </th>
			<th> Nombre</th>
			<th> Codigo </th>
			<th> Precio </th>
			<th> Stock </th>
			<th> Existencia </th>
			<th> Tienda </th>
			<th> Promotor </th>
			<th>Imagen</th>
			<th>Comprar</th>
		</tr>

		<tr>
			<td> 1 </td>
			<td> <%= @cham_nombre %> </td>
			<td> <%= @cham_codigo %> </td>
			<td>  <%= @cham_precio %>  </td>
			<td> <%= @cham_stock %> </td>
			<td> <%= @cham_existencia %> </td>
			<td> <%= @cham_tienda %> </td>
			<td> <%=  @cham_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/D_NP_749190-MLM29466054680_022019-Q.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-665758710-chamarra-nike-sb-coaches-rompevientos-100-orignal-foto-real-_JM?matt_tool=27407459&matt_word&gclid=CjwKCAjw1dzkBRBWEiwAROVDLGp9mEjJi_OhWQzB-kg_HnBSlVBUk94KgWHMZlwaPmtK-bV96sk09hoCoHQQAvD_BwE&quantity=1&variation=33268051014" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
		<tr>
			<td> 2 </td>
			<td> <%= @nsb2_nombre %> </td>
			<td> <%= @nsb2_codigo %> </td>
			<td>  <%= @nsb2_precio %>  </td>
			<td> <%= @nsb2_stock %> </td>
			<td> <%= @nsb2_existencia %> </td>
			<td> <%= @nsb2_tienda %> </td>
			<td> <%=  @nsb2_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/D_NP_802069-MLM29465985936_022019-Q.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-665758158-chamarra-nike-sb-coaches-rompevientos-100-orginal-foto-real-_JM?quantity=1#reco_item_pos=3&reco_backend=machinalis-seller-items&reco_backend_type=low_level&reco_client=vip-seller_items-above&reco_id=8bedb007-f262-4861-a033-9955c8132816" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
			<td> 3 </td>
			<td> <%= @nsb3_nombre %> </td>
			<td> <%= @nsb3_codigo %> </td>
			<td>  <%= @nsb3_precio %>  </td>
			<td> <%= @nsb3_stock %> </td>
			<td> <%= @nsb3_existencia %> </td>
			<td> <%= @nsb3_tienda %> </td>
			<td> <%=  @nsb3_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/sudadera-hoodie-estampada-nike-sb-envio-incluido-D_NQ_NP_929230-MLM28990474638_122018-F.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-663401182-sudadera-hoodie-estampada-nike-sb-envio-incluido-_JM?quantity=1" target="_blank" style="color: #fff; ">Enlace</a></td>
		</tr>
			<tr>
			<td> 4 </td>
			<td> <%= @nsb4_nombre %> </td>
			<td> <%= @nsb4_codigo %> </td>
			<td>  <%= @nsb4_precio %>  </td>
			<td> <%= @nsb4_stock %> </td>
			<td> <%= @nsb4_existencia %> </td>
			<td> <%= @nsb4_tienda %> </td>
			<td> <%=  @nsb4_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/gorra-nike-sb-icon-snapback-hat-negra-casuales-originales-D_NQ_NP_730527-MLM26923245840_022018-F.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-615398410-gorra-nike-sb-icon-snapback-hat-negra-casuales-originales-_JM?quantity=1&variation=29653539547" target="_blank" style="color: #fff; ">Enlace</a></td>
		</tr>
		
			<tr>
			<td> 5 </td>
			<td> <%= @nsb5_nombre %> </td>
			<td> <%= @nsb5_codigo %> </td>
			<td>  <%= @nsb5_precio %>  </td>
			<td> <%= @nsb5_stock %> </td>
			<td> <%= @nsb5_existencia %> </td>
			<td> <%= @nsb5_tienda %> </td>
			<td> <%=  @nsb5_promotor %> </td>
			<td><img src="https://http2.mlstatic.com/gorra-nike-sb-icon-snapback-hat-negra-casuales-originales-D_NQ_NP_730527-MLM26923245840_022018-F.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-615398410-gorra-nike-sb-icon-snapback-hat-negra-casuales-originales-_JM?quantity=1&variation=29653539547" target="_blank" style="color: #fff; ">Enlace</a></td>
		</tr>
	
		
		</table>
	</div>
</ul>
</body>
</html>

