<!DOCTYPE html>
<html>
<head>
	<title>CHAMARRA NIKE SB</title>
	<link rel="stylesheet" type="text/css" href=".../stylesheet/application.css">
	
</head>
<body>
<ul class="chamarra">

<br></br>
	<center> <h1>CHAMARRA NIKE SB</h1> </center>
	<div class="contenedor">	
		<table class="tabla">
		<tr>
			<th> No. </th>
			<th> Nombre</th>
			<th> Codigo </th>
			<th> Precio </th>
			<th> Stock </th>
			<th> Existencia </th>
			<th> Tienda </th>
			<th> Promotor </th>
			<th>Comprar</th>
		</tr>

		<tr>
			<td> 1 </td>
			<td> <%= @cham_nombre %> </td>
			<td> <%= @cham_codigo %> </td>
			<td>  <%= @cham_precio %>  </td>
			<td> <%= @cham_stock %> </td>
			<td> <%= @cham_existencia %> </td>
			<td> <%= @cham_tienda %> </td>
			<td> <%=  @cham_promotor %> </td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-665758710-chamarra-nike-sb-coaches-rompevientos-100-orignal-foto-real-_JM?matt_tool=27407459&matt_word&gclid=CjwKCAjw1dzkBRBWEiwAROVDLGp9mEjJi_OhWQzB-kg_HnBSlVBUk94KgWHMZlwaPmtK-bV96sk09hoCoHQQAvD_BwE&quantity=1&variation=33268051014" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
		<tr>
			<td> 2 </td>
			<td> <%= @nsb2_nombre %> </td>
			<td> <%= @nsb2_codigo %> </td>
			<td>  <%= @nsb2_precio %>  </td>
			<td> <%= @nsb2_stock %> </td>
			<td> <%= @nsb2_existencia %> </td>
			<td> <%= @nsb2_tienda %> </td>
			<td> <%=  @nsb2_promotor %> </td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-665758158-chamarra-nike-sb-coaches-rompevientos-100-orginal-foto-real-_JM?quantity=1#reco_item_pos=3&reco_backend=machinalis-seller-items&reco_backend_type=low_level&reco_client=vip-seller_items-above&reco_id=8bedb007-f262-4861-a033-9955c8132816" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
			<td> 3 </td>
			<td> <%= @nsb3_nombre %> </td>
			<td> <%= @nsb3_codigo %> </td>
			<td>  <%= @nsb3_precio %>  </td>
			<td> <%= @nsb3_stock %> </td>
			<td> <%= @nsb3_existencia %> </td>
			<td> <%= @nsb3_tienda %> </td>
			<td> <%=  @nsb3_promotor %> </td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-663401182-sudadera-hoodie-estampada-nike-sb-envio-incluido-_JM?quantity=1" target="_blank" style="color: #fff; ">Enlace</a></td>
		</tr>
			<tr>
			<td> 4 </td>
			<td> <%= @nsb4_nombre %> </td>
			<td> <%= @nsb4_codigo %> </td>
			<td>  <%= @nsb4_precio %>  </td>
			<td> <%= @nsb4_stock %> </td>
			<td> <%= @nsb4_existencia %> </td>
			<td> <%= @nsb4_tienda %> </td>
			<td> <%=  @nsb4_promotor %> </td>
			<td><a href="https://articulo.mercadolibre.com.mx/MLM-615398410-gorra-nike-sb-icon-snapback-hat-negra-casuales-originales-_JM?quantity=1&variation=29653539547" target="_blank" style="color: #fff; ">Enlace</a></td>
		</tr>
		</table>
	</div>
</ul>
</body>
</html>

