<!DOCTYPE html>
<html>
<head>
	<title>ADIDAS</title>
	<link rel="stylesheet" type="text/css" href=".../stylesheet/application.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	
</head>
<body>
<ul class="chamarra">

<a href="/inicio" class="home fas fa-home"  > Home</a>

	<center class= "tituloc"> <h1>ADIDAS</h1> </center>

	<div class="contenedor">	
		<table class="tabla">
		<tr>
			<th> No. </th>
			<th> Nombre</th>
			<th> Codigo </th>
			<th> Precio </th>
			<th> Stock </th>
			<th> Existencia </th>
			<th> Tienda </th>
			<th> Promotor </th>
			<th>Imagen</th>
			<th>Comprar</th>
		</tr>

		<tr>
			<td> 1 </td>
			<td> <%= @Mo1_nombre %> </td>
			<td> <%= @Mo1_codigo %> </td>
			<td>  <%= @Mo1_precio %>  </td>
			<td> <%= @Mo1_stock %> </td>
			<td> <%= @Mo1_existencia %> </td>
			<td> <%= @Mo1_tienda %> </td>
			<td> <%=  @Mo1_promotor %> </td>
			<td><img src="https://images-na.ssl-images-amazon.com/images/I/71eFIDalsAL._SY606_.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://www.amazon.com.mx/Pijama-Morisketa-beb%C3%A9s-Modelo-Navidad/dp/B01N95Y4V9/ref=sr_1_2?adgrpid=59338876498&hvadid=286736041339&hvdev=c&hvlocphy=1010000&hvnetw=g&hvpos=1t1&hvqmt=e&hvrand=7535496247097027700&hvtargid=kwd-322078730301&keywords=morisketa&qid=1553663340&s=gateway&sr=8-2&tag=googhydr0mx-20" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>

		<tr>
			<td> 2 </td>
			<td> <%= @Mo2_nombre %> </td>
			<td> <%= @Mo2_codigo %> </td>
			<td>  <%= @Mo2_precio %>  </td>
			<td> <%= @Mo2_stock %> </td>
			<td> <%= @Mo2_existencia %> </td>
			<td> <%= @Mo2_tienda %> </td>
			<td> <%=  @Mo2_promotor %> </td>
			<td><img src="https://images-na.ssl-images-amazon.com/images/I/91QMyUNEspL._SX679_.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://www.amazon.com.mx/MORISKETA-Vestido-Smock/dp/B075XRHVCF/ref=sr_1_10?adgrpid=59338876498&hvadid=286736041339&hvdev=c&hvlocphy=1010000&hvnetw=g&hvpos=1t1&hvqmt=e&hvrand=7535496247097027700&hvtargid=kwd-322078730301&keywords=morisketa&qid=1553664537&s=gateway&sr=8-10&tag=googhydr0mx-20" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
	<tr>
			<td> 3 </td>
			<td> <%= @Mo3_nombre %> </td>
			<td> <%= @Mo3_codigo %> </td>
			<td>  <%= @Mo3_precio %>  </td>
			<td> <%= @Mo3_stock %> </td>
			<td> <%= @Mo3_existencia %> </td>
			<td> <%= @Mo3_tienda %> </td>
			<td> <%=  @Mo3_promotor %> </td>
			<td><img src="https://images-na.ssl-images-amazon.com/images/I/91xEWEF4R5L._SX679_.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://www.amazon.com.mx/MORISKETA-Vestido-Pinzas-Botones/dp/B073W2GPVS/ref=sr_1_31?adgrpid=59338876498&hvadid=286736041339&hvdev=c&hvlocphy=1010000&hvnetw=g&hvpos=1t1&hvqmt=e&hvrand=7535496247097027700&hvtargid=kwd-322078730301&keywords=morisketa&qid=1553664537&s=gateway&sr=8-31&tag=googhydr0mx-20" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
			
	<tr>
			<td> 4 </td>
			<td> <%= @Mo4_nombre %> </td>
			<td> <%= @Mo4_codigo %> </td>
			<td>  <%= @Mo4_precio %>  </td>
			<td> <%= @Mo4_stock %> </td>
			<td> <%= @Mo4_existencia %> </td>
			<td> <%= @Mo4_tienda %> </td>
			<td> <%=  @Mo4_promotor %> </td>
			<td><img src="https://images-na.ssl-images-amazon.com/images/I/71UuCIkGpbL._SY606_.jpg" style="width:80px;height:80px;"></td>
			<td><a href="https://www.amazon.com.mx/Pijama-Morisketa-beb%C3%A9s-Modelo-Anita/dp/B01MRLWIJO/ref=sr_1_42?adgrpid=59338876498&hvadid=286736041339&hvdev=c&hvlocphy=1010000&hvnetw=g&hvpos=1t1&hvqmt=e&hvrand=7535496247097027700&hvtargid=kwd-322078730301&keywords=morisketa&qid=1553664537&s=gateway&sr=8-42&tag=googhydr0mx-20" target="_blank" style="color: #fff; ">Enlace</a></td>

		</tr>
		
		</table>
	</div>
</ul>
</body>
</html>

